#include "header.h"

IDM_MENU MENU DISCARDABLE
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "&This",   IDM_FILE_THIS
        MENUITEM "&Close",  IDM_FILE_CLOSE
    END
    POPUP "Help"
    BEGIN
        MENUITEM "Info",    IDM_FILE_INFO
    END
END


IDM_DLGBOX DIALOG 100, 50, 160, 100
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Info"
FONT 8, "MS Shell Dlg"
BEGIN
    DEFPUSHBUTTON   "OK", IDOK, 55, 80, 50, 14
    CTEXT   "Program made by", IDM_STATIC, 0, 20, 160, 40
    CTEXT   " Unnemotional Hyena", IDM_STATIC, 0, 30, 160, 40
END

IDM_CURSOR CURSOR DISCARDABLE "cursor.cur"
IDM_CURSOR2 CURSOR DISCARDABLE "cursor2.cur"
IDM_CURSOR3 CURSOR DISCARDABLE "cursor3.cur"
IDM_CURSOR4 CURSOR DISCARDABLE "cursor4.cur"
IDM_CURSOR5 CURSOR DISCARDABLE "cursor5.cur"
IDM_ICON ICON DISCARDABLE "icon.ico"
